footer.footer
    .footer__logo
        img(src='img/logo-green.png' alt='Natours logo')
    ul.footer__nav
        li:a(hre='#') About Us
        li:a(hre='#') Download apps
        li:a(hre='#') Become a guide
        li:a(hre='#') Careers
        li:a(hre='#') Contact
    p.footer__copyright &copy; By Sarib Siddiqui